<ion-view view-title="Cidade Segura" hide-nav-bar="true">
	<ion-content>
		
		<div class="padding text-center" style="margin-top: 30px;">
		
		<h1> Cidade Segura </h1>
		<h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  </h4>
		<hr>
		<a class="button button-block button-dark" href="#/reportar">Reportar</a>
		<a class="button button-block button-dark" href="#/consultar">Consultar</a>
		<a class="button button-block button-dark" href="#/estatistica">Estatísticas</a>
		<a class="button button-block button-dark" href="#/login">Login</a>
		
		</div>
		<div class="list">
			<h3 class="text-center"> Incidentes Reportados Hoje</h3>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-model-s"></i>
		    Carros
		    <span class="badge badge-assertive">13</span>
		  </a>
			<a class="item item-icon-left" href="#">
		    <i class="icon ion-iphone"></i>
		    Celulares	
		    <span class="badge badge-assertive">34</span>
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-android-bicycle"></i>
		    Bicicleta
		    <span class="badge badge-assertive">45</span>
		  </a>
		</div>
	</ion-content>

</ion-view>