<ion-view view-title="Login">
	<ion-content>
		<ion-side-menus enable-menu-with-back-views="false">
		      <ion-side-menu-content>
		        <div class="padding text-center">
					<h1> {{msg}} </h1>
					<h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  </h4>
				</div>

		        <!-- TABS -->
		        <ion-tabs>

		          <ion-tab title="Search" icon-off="ion-search" icon-on="ion-search" href="#">
		            
		          </ion-tab>

		          <ion-tab title="Browse" icon-off="ion-ios-glasses" icon-on="ion-ios-glasses" href="#">
		            <ion-nav-view name="tab-browse"></ion-nav-view>
		          </ion-tab>

		          <ion-tab title="Playlist" icon-off="ion-ipod" icon-on="ion-ipod" href="#">
		            <ion-nav-view name="tab-playlists"></ion-nav-view>
		          </ion-tab>

		        </ion-tabs>

		      </ion-side-menu-content>

	</ion-content>
</ion-view>