<ion-view view-title="Login">
	<ion-content>
		<ion-side-menus enable-menu-with-back-views="false">
		      <ion-side-menu-content>
		        <div class="padding text-center">
					<h1 style="margin-top: 120px;"> {{msg}} </h1>
					<h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  </h4>
					
					<div class="row">
						<div class="col col-50" style="margin-top: 30px;">
							<a href="#" class="button button-block button-positive">FACEBOOK</a>
						</div>
						<div class="col col-50" style="margin-top: 30px;">
							<a href="#" class="button button-block button-assertive">GOOGLE</a>
							
						</div>
					</div>
				</div>

		        <!-- TABS -->
				<ion-tabs>
		          <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/home">	            
		          </ion-tab>

		          <ion-tab title="Login" icon-off="ion-person-add" icon-on="ion-person-add" href="#/login">
		          </ion-tab>

		        </ion-tabs>

		      </ion-side-menu-content>

	</ion-content>
</ion-view>