<ion-view view-title="Reportar">
	<ion-content>
		<ion-side-menus enable-menu-with-back-views="false">
		      <ion-side-menu-content>
		        <div class="padding text-center">
					<h1> Reportar </h1>
					<h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur  </h4>
					<hr>
					<div class="list list-inset">
					 <label class="item item-input">
					   <input type="text" placeholder="Local">
					 </label>
					 <label class="item item-input">
					   <input type="text" placeholder="Data e hora">
					 </label>
					 <label class="item item-input">
					   <input type="text" placeholder="Pertences">
					 </label>
					 <label class="item item-input">
					   <input type="text" placeholder="Informações adicionais">
					 </label>
					</div>
					<button class="button button-block button-dark">
					 Enviar
					</button>
					<a class="button button-block button-balanced" href="http://delegaciaonline.sesp.es.gov.br/deon/xhtml/solicitarregistroocorrencia.jsf">Cadastrar Boletim de Ocorrência</a>
					
				</div>

		        <!-- TABS -->
		        <ion-tabs>
		          <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/home">	            
		          </ion-tab>

		          <ion-tab title="Reportar" icon-off="ion-plus-circled" icon-on="ion-plus-circled" href="#/reportar">
		          </ion-tab>

		          <ion-tab title="Consultar" icon-off="ion-map" icon-on="ion-map" href="#/consultar">
		          </ion-tab>

		          <ion-tab title="Estatiscas" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/estatistica">
		          </ion-tab>

		        </ion-tabs>

		      </ion-side-menu-content>

	</ion-content>
</ion-view>